{% extends "main/base.html" %}

{% block content %}
	<!-- <table class="drug-list">
		{ for column_name in drugs %}
		<h>{{column_name}}</th>
		{ end for %}
		{ for column %}
	</table> -->
	<div class="container search">
		<form  class="d-flex" method="get" action="search">
			<input name="search-box" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			<!-- input name="search-options" class="form-control  me-2" type="" -->
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
	</div>

	{% if drugs %}
	
		<table>
			<thead>
				{% for heading in headings %}
					<th>{{heading.upper}}</th>
				{% endfor %}
				<th>Day Added</th>
				<th>Out of Stock</th>
				<th>Expired</th>
			</thead>
				{% for drug in drugs %}
					{% if drug.expired %}
					<tr id="{{drug.pk}}" class="expired drug">
					{% elif drug.expire_soon %}
					<tr id="{{drug.pk}}" class="exp-soon drug">
					{% else %}
					<tr id="{{drug.pk}}" class="exp-far drug">
					{% endif %}
				
					{% for item in drug.tabulate %}
						<td>{{item}}</td>
					{% endfor %}
					</tr>
				
				{% endfor %}
		</table>
	{% else %}

	{% endif %}
	<script>
		var rows = document.querySelectorAll(".drug")
		
		rows.forEach(row => {
			var pk = row.id;
			row.addEventListener("click", function() {
				window.open(pk);
			})
		});


		// function opens(row) {
		// 	pk = row.id
		// 	console.log(pk)
		// 	window.open(pk)
		// }
	</script>
	
{% endblock %}