{% extends 'main/base.html' %}
{% load static %}
<script src="{% static 'drugs/js/myscript.js' %}" defer></script>

{% block content %}
{% load crispy_forms_tags %}

<div class="form-container">
	{% if err_msg %}
		
		<p class="err_msg">{{err_msg}}</p>
	{% endif %}
	<form method="post" action="./sell_drugs">
		{% csrf_token %}
		{{form|crispy}}
		{% if price %}
			<label id="sale-price">$ {{price}}</label><br />
		{% endif %}
		<span><input type="checkbox" name="tab-check" id="tab-check">Tab <br /></span>
	
		<button class="submit" type="submit" name="add_sale_list" value="add">Add Sale</button>
		<button class="submit" type="submit" name="register_sale" value="register">Register Sale</button>
	</form>
</div>

{% endblock %}
